name: Docs
on:
  pull_request:
    paths:
      - "apps/docs/**"
      - ".github/workflows/docs.yml"

jobs:
  Docs:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - uses: actions/cache@v3
        with:
          path: |
            ~/.bun
            **/node_modules
          key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lock') }}
          restore-keys: ${{ runner.os }}-bun-
      - run: bun install --frozen-lockfile
      - run: bun run docs:links
