name: Lint
on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: Setup Bun
      uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest
    - name: Cache Bun and node_modules
      uses: actions/cache@v3
      with:
        path: |
          ~/.bun
          **/node_modules
        key: ${{ runner.os }}-bun-${{ hashFiles('**/bun.lockb') }}
        restore-keys: |
          ${{ runner.os }}-bun-
    - name: Install dependencies
      run: bun install --frozen-lockfile
    - name: Run lint
      run: bun run lint